:root {
  --background: rgb(248, 247, 255);
  --accent: rgb(134, 255, 78);
  --text-color: rgb(51, 51, 51);
}

html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-gutter: stable;
}

code,
pre,
kbd {
  font-family: var(--font-mono);
}

.container {
  max-width: 680px;
  margin-inline: auto;
  background-color: var(--background);
  padding: 0 1rem;
}

header {
  max-width: 680px;
  margin: 1.5rem auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

header h1 {
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--text-color);
  margin: 0;
  line-height: 1;
}

header a {
  line-height: 1;
}

header ul {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  list-style: none;
  font-size: 0.9rem;
}

.astro-code {
  font-size: 0.9rem;
  overflow-x: auto;
  padding: 10px;
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
  line-height: 1.5;
}

.prose code::before,
.prose code::after {
  content: "";
}

.prose code:not(.astro-code code) {
  background-color: rgb(16, 16, 16);
  color: white;
  font-weight: normal;
  padding: 2px;
  font-size: 0.9rem;
}

a,
.prose a {
  text-decoration-color: var(--accent);
  text-decoration-thickness: 1.5px;
  color: var(--text-color);
}

body {
  font-family: var(--font-sans);
  background-color: var(--background);
  color: var(--text-color);
  padding: 0.5rem;
}

.prose {
  font-size: 1.0625rem;
  line-height: 1.5;
}

.prose>*+* {
  margin-top: 1.5em;
}

.prose img {
  display: block;
  max-width: 100%;
  height: auto;
  cursor: zoom-in;
}

.postlist {
  margin: 0;
  padding: 0;
}

.postlistentry {
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: baseline;
}

.date {
  font-size: 0.8rem;
  font-family: var(--font-mono);
  opacity: 0.45;
  white-space: nowrap;
  margin: 0;
}

main {
  margin-top: 1.0rem;
}


.prose h1,
.prose h2,
.prose h3,
.prose h4 {
  font-weight: 600;
  line-height: 1.3;
  margin-top: 2rem;
  margin-bottom: 0.5em;
}

.prose h1 {
  font-size: 1.875rem;
}

.prose h2 {
  font-size: 1.375rem;
}

.prose h3 {
  font-size: 1.125rem;
}

.prose h4 {
  font-size: 1rem;
}